<!DOCTYPE html>
<html>
    <head>
        <title>Technothlon</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>The Odd Game</h1>
            <% if(user.newid == "Brandon") { %>
                <p>For this puzzle you are Barry</p>
            <% } %>
            <% if(user.newid == "Makeda") { %>
                <p>For this puzzle you are John</p>
            <% } %>
            <% if(user.newid == "Campbell") { %>
                <p>For this puzzle you are Caleb</p>
            <% } %>
            <p>Barry, John, and Caleb were very bored one day and they decided to come up with a new game</p>
            <p>The rules were quite simple:</p>
            <ul>
                <li>The first player gets to take either 1, 2, 3, 4 or 5 from the 40 available pens.</li>
                <li>Then, the second player is also able to pick either 1, 2, 3, 4, or 5 from the remaining pens.</li>
                <li>The third player is able to do the same</li>
                <li>Repeat steps 1, 2 and 3 until the player who takes the last pen loses</li>
            </ul>
            <p>Barry will choose who will go first.</p>
            <% if(user.newid == "Brandon") { %>
            <input type="text" id="input1" style="width: 300px;" placeholder="Enter who will go first">
            <input type="text" id="input2" style="width: 300px;" placeholder="Enter who will go second">
            <input type="text" id="input3" style="width: 300px;" placeholder="Enter who will go third">
            <button id="bt" class="btn btn-primary">Submit</button>
            <% } %>
            <p id="player"></p>
        </div>
        <script>
            var socket = io.connect("http://localhost:4000");

            socket.on('connect', function (data) {
                socket.emit('storeClientInfo', { customId:"<%= user.socketid %>" , level: "odd"});
            });
            var id = "<%= user.socketid %>";
            if("<%= user.newid %>" == "Brandon") { 
                var btn = document.getElementById("bt");
                var input1 = document.getElementById("input1");
                var input2 = document.getElementById("input2");
                var input3 = document.getElementById("input3");
                btn.addEventListener("click", function(){
                    socket.emit("order", {
                        first: input1.value,
                        second: input2.value,
                        third: input3.value,
                        id: id
                    });
                    input1.hidden = true;
                    input2.hidden = true;
                    input3.hidden = true;
                    btn.hidden = true;
                });
            }
            var player = document.getElementById("player");
            socket.on("order1", function(data) {
                console.log(data);
                if("<%= user.newid %>" == "Brandon") {
                    if(data.first == "Barry") {
                        player.innerHTML = "You will go first";
                        var chanceNumber = 3;
                    } else if(data.second == "Barry") {
                        player.innerHTML = "You will go second";
                        var chanceNumber = 2;
                    } else if(data.third == "Barry") {
                        player.innerHTML = "You will go third";
                        var chanceNumber = 1;
                    }
                } else if("<%= user.newid %>" == "Makeda") {
                    if(data.first == "John") {
                        player.innerHTML = "You will go first";
                        var chanceNumber = 3;
                    } else if(data.second == "John") {
                        player.innerHTML = "You will go second";
                        var chanceNumber = 2;
                    } else if(data.third == "John") {
                        player.innerHTML = "You will go third";
                        var chanceNumber = 1;
                    }
                } else if("<%= user.newid %>" == "Campbell") {
                    if(data.first == "Caleb") {
                        player.innerHTML = "You will go first";
                        var chanceNumber = 3;
                    } else if(data.second == "Caleb") {
                        player.innerHTML = "You will go second";
                        var chanceNumber = 2;
                    } else if(data.third == "Caleb") {
                        player.innerHTML = "You will go third";
                        var chanceNumber = 1;
                    }
                }
            });
            socket.on("oddnumber", function(data){

            });
        </script>
    </body>
</html>